# I use these as part of local testing

.tool-versions
.terraform*
!.terraform-docs.yml
!terraform/.terraform.lock.hcl
test.tf
terraform/*.tfvars
*.tfstate*

.DS_Store

# Python
.pytest_cache
__pycache__
rds_activity_stream/lambda/layer
rds_activity_stream/lambda/*.zip

.github/workflows/conftest/policy