name: "Lint Terraform files"

on:
  pull_request:
    paths:
      - "**/*.tf"
      - ".github/workflows/*.yml"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup Terraform tools
        uses: cds-snc/terraform-tools-setup@v1

      - name: Lint TF files
        run: terraform fmt -check -no-color -diff -recursive
