name: Shellcheck
on:
  push:
    paths:
      - "**/*.sh"

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
    - name: Shellcheck
      run: |
        .github/workflows/scripts/run-shellcheck.sh



