name: "Terraform Plan"

on:
  pull_request:
    paths:
    - "terraform/**"
    - ".github/workflows/terraform-plan.yml"

env:
  AWS_REGION: ca-central-1
  TERRAFORM_VERSION: 1.10.5
  CONFTEST_VERSION: 0.42.1
  TF_VAR_account_id: 124044056575
  TF_VAR_billing_code: SRE
  TF_VAR_region: ca-central-1  

permissions:
  id-token: write
  pull-requests: write
  contents: read

jobs:
  terragrunt-plan:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Setup terraform tools
      uses: cds-snc/terraform-tools-setup@5a19984bcb888600ad646e0caf5c6f4d0a54c165 # v1.2.0

    - name: Configure AWS credentials using OIDC
      uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
      with:
        role-to-assume: arn:aws:iam::124044056575:role/terraform-modules-plan
        role-session-name: TFPlan
        aws-region: ${{ env.AWS_REGION }}

    - name: Terraform Plan
      uses: cds-snc/terraform-plan@39b0058bcf977fbd8b067b84d5a9f6165e356c32 # v3.7.0
      with:
        comment-delete: true
        comment-title: "Terraform"
        directory: terraform
        github-token: ${{ secrets.GITHUB_TOKEN }}
        terragrunt: false   
