name: "Terraform Plan"

on:
  pull_request:
    paths:
    - "terraform/**"
    - ".github/workflows/terraform-plan.yml"

env:
  AWS_REGION: ca-central-1
  TERRAFORM_VERSION: 1.7.0
  CONFTEST_VERSION: 0.42.1
  TF_VAR_account_id: 124044056575
  TF_VAR_billing_code: SRE
  TF_VAR_region: ca-central-1  

permissions:
  id-token: write
  pull-requests: write
  contents: read

jobs:
  terragrunt-plan:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Setup terraform tools
      uses: cds-snc/terraform-tools-setup@v1

    - name: Configure AWS credentials using OIDC
      uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4.0.2
      with:
        role-to-assume: arn:aws:iam::124044056575:role/terraform-modules-plan
        role-session-name: TFPlan
        aws-region: ${{ env.AWS_REGION }}

    - name: Terraform Plan
      uses: cds-snc/terraform-plan@d79bcf0eccf632a0ad9e9193072b42c970766c5b # v3.3.1
      with:
        comment-delete: true
        comment-title: "Terraform"
        directory: terraform
        github-token: ${{ secrets.GITHUB_TOKEN }}
        terragrunt: false   
